body {
    background-color:#24353F;
}
a {
    color: inherit;
}
a:hover {
    text-decoration: underline !important;
}
.form,nav,h1.p-5 {
    
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
input {
    background-color: transparent !important;
    color: #fff !important;
}
input::placeholder {
    color: aliceblue !important;
    font-size: 16px !important;
}
.nav-item a {
    text-decoration:none !important;
}
